Source/ogldev/ogldev.VC.db
Source/ogldev/ogldev/Debug/ogldev.tlog/CL.command.1.tlog
Source/ogldev/ogldev/Debug/ogldev.tlog/CL.read.1.tlog
Source/ogldev/ogldev/Debug/ogldev.tlog/CL.write.1.tlog
Source/ogldev/ogldev/Debug/ogldev.tlog/link.command.1.tlog
Source/ogldev/ogldev/Debug/ogldev.tlog/link.read.1.tlog
Source/ogldev/ogldev/Debug/ogldev.tlog/link.write.1.tlog
Source/ogldev/ogldev/Debug/ogldev.tlog/ogldev.lastbuildstate
Source/ogldev/ogldev/Debug/vc140.idb
Source/ogldev/ogldev.VC.VC.opendb
Source/ogldev/.vs/ogldev/v14/.suo
Source/ogldev/ogldev/Debug/window_manager.obj
Source/ogldev/ogldev/Debug/RenderMesh.obj
Source/ogldev/ogldev/Debug/RenderObject.obj
Source/ogldev/ogldev/Debug/RenderScene.obj
Source/ogldev/ogldev/Debug/Source.obj
Source/ogldev/ogldev/Debug/ogldev.log
Source/ogldev/ogldev/Debug/vc140.pdb
Source/ogldev/Debug/ogldev.exe
Source/ogldev/Debug/ogldev.ilk
Source/ogldev/Debug/ogldev.pdb
Source/ogldev/ogldev/Debug/Camera.obj
Source/ogldev/ogldev/Debug/GodObject.obj
Source/ogldev/ogldev/Debug/OpenglRenderer.obj
Source/ogldev/ogldev/Debug/RenderGeometry.obj
Source/ogldev/ogldev/Debug/RenderMaterial.obj
Source/ogldev/ogldev/x64/Debug/ogldev.tlog/CL.command.1.tlog
Source/ogldev/ogldev/x64/Debug/ogldev.tlog/CL.read.1.tlog
Source/ogldev/ogldev/x64/Debug/ogldev.tlog/CL.write.1.tlog
Source/ogldev/ogldev/x64/Debug/ogldev.tlog/ogldev.lastbuildstate
Source/ogldev/ogldev/x64/Debug/vc140.idb
