Source/ogldev/ogldev.VC.db
Source/ogldev/ogldev/Debug/ogldev.tlog/CL.command.1.tlog
Source/ogldev/ogldev/Debug/ogldev.tlog/CL.read.1.tlog
Source/ogldev/ogldev/Debug/ogldev.tlog/CL.write.1.tlog
Source/ogldev/ogldev/Debug/ogldev.tlog/link.command.1.tlog
Source/ogldev/ogldev/Debug/ogldev.tlog/link.read.1.tlog
Source/ogldev/ogldev/Debug/ogldev.tlog/link.write.1.tlog
Source/ogldev/ogldev/Debug/ogldev.tlog/ogldev.lastbuildstate
Source/ogldev/ogldev/Debug/vc140.idb
